body {
    background: rgb(58, 189, 44);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(173, 119, 105);
    margin: 0 auto;
    display: flex;
    padding: 10px;
     border: 4px silver ridge;
    margin-bottom: 20px;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(133, 21, 21);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #a2f3ff;
    background-color: rgb(188, 188, 31);
    border-radius: 5px;
}

/* main container area beneath menu */
main {
    background: rgb(245, 238, 219);
    display: flex;
    margin-top: 20px;
     border: 4px silver ridge;
      border-radius: 1000px;
}

.sidebar {
  
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
    border: 4px gold ridge;
    border-radius: 10px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
.interests {
    border: 4px goldenrod ridge;
    border-radius: 20px;
    padding: 8px;
    margin-top: 20px;
    background-color: aquamarine;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(31, 215, 239);
  position: relative;
  left: 300px;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #db4444;
  padding: 10px;
  border-radius: 10px;
  border: 4px gold ridge;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #f67f7f;
}

#portfolio a {
  text-decoration: none;
  color: #de7a7a;
}


/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 45%;
    position: relative;
    left: 90px;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}